<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
      
      <!--Repositories-->

    <bean id="expeditionRepository"
          class="com.example.repository.ExpeditionRepository"
          init-method="initialize"/>
    </bean>

    <bean id="sightingRepository"
          class="com.example.repository.SightingRepository"
          init-method="initialize"/>
 
    <!--Services-->

    <bean id="expeditionService"
          class="com.example.service.ExpeditionService">
       

</beans>
